# https://www.home-assistant.io/docs/configuration/secrets

homeassistant_name: "Home"
homeassistant_latitude: 0.00
homeassistant_longitude: 0.00
homeassistant_elevation: 0
homeassistant_external_url: "https://example.com/"

recorder_db_url: mysql://username:password@mysql/homeassistantrecorder

tado_username: user@example.com
tado_password: password

panel_iframe_transmission_url: "https://example.com/"
panel_iframe_nodered_url: "https://example.com/"
panel_iframe_grafana_url: "https://example.com/"
panel_iframe_influxdb_url: "https://example.com/"
panel_iframe_router_url: "https://example.com/"
panel_iframe_pihole_url: "https://example.com/"

influxdb_token: ""
influxdb_organization: ""
influxdb_bucket: ""

transmission_host: ""

mqtt_broker: ""
